@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));


/* Set root variables */
:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-roboto: 'Roboto', sans-serif;
  --font-montserrat: 'Montserrat', sans-serif;
}

/* Apply the default font family (Roboto) to body */
body {
  font-family: var(--font-roboto), sans-serif; /* Default to Roboto */
}

/* Media query for dark mode */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* General HTML styles */
html {
  scroll-behavior: smooth;
  user-select: none;
}

/* Keyframes for animation */
@keyframes scroll {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

.animate-scroll {
  animation: scroll 20s linear infinite;
}

/* Hide scrollbar */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.input-box{
  padding-bottom: 15px;
}